.card {
    display: flex;
    flex-direction: column;
    height: 125px;
    width: 80px;
    border: thin solid black ;
    border-radius: 15px;
    margin:10px;
    background:#fff;
}

.hidden {
    background-color: lightskyblue;
}

.suit {
    height: 10px;
    width: 10px;
    margin:5px 5px 5px 5px;
}

.right{
    align-self: flex-end;
    float:right;
    text-align:right;
}

.left {
    align-self: flex-start;
    float:left;
    text-align:left;
}

.val {
    font-size: 10pt;
    margin: 0px 7px 0px 7px;
}
.suit-large {
    align-self: center;
    height: 20px;
    width: 20px;
    position: center;
    margin:16px
}